<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title th:text="#{button.home.label}">home</title>
</head>
<body>
<div class="pull-right" style="padding-right:50px">
    <a href="?language=en">English</a>|<a href="?language=fr">French</a>
</div>
<div class="container">
    <h1 class="alert alert-success" th:text="#{message.friendshipSucc}">success</h1>
    <a href="/welcome" class="btn btn-success custom-width" th:text="#{button.yourPage.label}"></a>
</div>
</body>
</html>